* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body{
    margin: 0;

}

/* app-header , app-footer */
.app-footer,
.app-header {
    background-color: lightseagreen;
    height: 5vh;
}

.app-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.app-main {
    height: 90vh;
    background-color: lightcyan;
}



/* book-app */

.book-app{
    height: 90vh;
    background-color: lightcyan;
}

/* book-filter */

.book-filter{
    background-color: lightslategray;
    padding: 10px;
}

/* book-edit */

.book-edit{
    background-color: lightpink;
    padding: 20px;
    margin-bottom: 10px;
}

/* book-details */

.book-details{
    background-color: lightcoral;
    padding: 20px;

}

.book-details img{
    width: 150px;

}

/* book-list */

.book-list ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* book-preview */

.book-preview-container{
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

/* user-msg */

.user-msg{
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: red;
    color: white;
}

.router-link-exact-active {
    color: brown;
}