* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0px;
}

body{
    margin: 0;

}

/* app-header , app-footer */
.app-footer,
.app-header {
    background-color: lightseagreen;
    height: 5vh;
}

.app-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.app-main {
    height: 90vh;
    background-color: lightcyan;
}

/* mail list */ 
.mail{
    background-color: rgba(224, 226, 226, 0.65);
}
.mail:hover{
    background-color: rgb(187, 189, 188);
}
#mail-btns{
    display: none;
}
.mail:hover #mail-btns{
    display: block;
    align-items: center;
}



/* user-msg */

.user-msg{
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: red;
    color: white;
}

.router-link-exact-active {
    color: brown;
}