* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

body{
    margin: 0px;
    /* bottom: 0px;
    height: 100vh; */
}

/* app-header , app-footer */
.app-footer,
.app-header {
    background-color: lightseagreen;
    height: 5vh;
}

.app-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.app-main {
    height: 95vh;
    background-color: lightcyan;
}

/* helpers */ 
.grid-container{
    display: grid;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex; 
}
  
.flex-1 {
    flex: 1; 
}
  
.justify-center {
    justify-content: center; 
}
  
.align-center {
    align-items: center; 
}
  
.hide{
    display: none;
}




/* mail app */ 
.mail-app{
    display: grid;
    height: 95vh;
    grid-template-columns: 1fr 9fr ;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
  "logo ."
  "folders main"
  ;
  gap: 10px;
  background-color: #ffffff;
}

.logo{
    grid-area: logo;
}
.main{
    grid-area: main;
}
.folders{
    grid-area: folders;
}

/* mail folders */

.mail-folders{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.folder{
    width: 10rem;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-top-right-radius:1.5rem;
  border-bottom-right-radius:1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.folder:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
    .folder {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* mail preview */ 
.mail-preview{
    display: grid;
    height: 90px;
    grid-template-columns: 2fr 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid rgb(187, 184, 184);
}
.mail-preview:hover{
    background-color: rgb(187, 189, 188);
}
#mail-btns{
    display: none;
}
.mail-btns{
    display: inline-flex;
    /* position:relative; */
}
.mail-preview:hover #mail-btns{
    display: block;
    align-items: center;
}

.sub-body{
    display: flex;
    gap: 10px;
}
.subject{
    font-weight: bold;
}


/* new-mail */
.mail-new{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vh;
    height: 50vh;
    overflow: hidden;
    z-index: 3;
    background-color: white;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12),0px 5px 5px -3px rgba(0,0,0,0.2);
    
}

.new-mail-head{
    margin-left: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    margin-left: 0px;
    background: #202124;;
}

.new-mail-head h1{
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    font-weight: 500;
    margin: 15px;
}

.mail-new form{
    display: flex;
    flex-direction: column;
}

.new-mail-to{
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width: 100vh;
}

.new-mail-subject{
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 100vh;
}

.new-mail-body{
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 100vh;
    height: 30vh;
}


/* user-msg */

.user-msg{
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: red;
    color: white;
}

.router-link-exact-active {
    color: brown;
}